@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Kurenaido', sans-serif;
}
body{
    background-color: rgb(187, 189, 166);
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 90px auto auto auto 60px;
    grid-row-gap: 10px;
    grid-column-gap: 15px;
}
img{
    width: 300px;
    height: 200px;
}
.container div{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.dot0{
    justify-content: space-around;
}
.dot0 p{
    font-size: 20px;
}
.dot0 a{
    transition: 2s;
}
.dot0 a:hover{
    font-size: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.dot1 a{
    padding: 10px 20px;
    border: black 1px solid;
    border-radius: 20px;
    background-color: rgb(223, 219, 3);
    transition: all 2s;
}
p{
    font-size: 20px;
}
.dot1 a:hover{
    font-size: 20px;
    color: rgb(223, 219, 3);
    background-color: black;
}
.dot a{
    padding: 10px 20px;
    border: 1px black solid;
    border-radius: 20px;
    background-color: rgb(223, 219, 3);
    transition: 2s;
}
.dot a:hover{
    font-size: 20px;
    color: rgb(223, 219, 3);
    background-color: black;
}